.jumbotron {
text-align: center;
background: teal;
color: white;
}

.results {
  display: none;
}

.bio-pics {
  width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
}

.doctor {
  cursor: pointer;
}

.doctorInfo {
  display: none;
}

#container {
   min-height:100%;
   position:relative;
}

.container {
  min-height:100%;
  margin-bottom: -150px;
  position:relative;
}

.container:after {
  min-height:100%;
  margin-bottom: -100px;
  position:relative;
  content: "";
  display: block;
  height: 90px;
}


.footer-bottom {
  height: 40px;
  background-color: teal;
  color: teal;
  text-align: center;
}

.footer-bottom p {
  padding-top: 9px;
}

.link {
  color: white;
}

.link:hover {
  color: lightgrey;
}

#footer {
  position: absolute;
  bottom:0;
  width:100%;
  height:90px;
}
